<html>
<head>
    <title>Home</title>
<style>
    div {
        margin-left: 200px;
        margin-right: 200px;
    }
</style>
</head>
<body style="background-color: powderblue;">
    
    <h1 style="text-align: center; font-size: 400%;"> About </h1>
    <div><center><img src="http://globalvillagesummit.pbworks.com/f/1438013689/banner-georesonance-world-map.jpg" alt="Banner Image" width="100%" height="300"></center></div>
    <br />
    <div><hr /></div>
    
    <div>This is a rails project that contains a homepage and an about page. These pages can both be accessed from one another. <br /> Click 'Home' to return to the homepage.</div>
    <br />
    
    <div style="text-align: bottom;"><%= link_to 'Home', root_path %></div>

</body>
</html>
