<html>
<head>
    <meta charset="UTF-8">
    <title>c h i l l</title>
</head>
<body style="background-image:url('<%= asset_path 'bills.jpg'  %>');">

    <audio autoplay loop>
	    <source src="<%= asset_path 'chill_bill.wav'  %>" type="audio/wav" />
    </audio>

</body>
</html>