<html>
<head>
    <title>Home</title>
<style>
    div {
        margin-left: 200px;
        margin-right: 200px;
    }
</style>
</head>
<body style="background-color: powderblue;">
    
    <h1 style="text-align: center; font-size: 400%;"> Welcome to the homepage! </h1>
    <div><center><img src="http://globalvillagesummit.pbworks.com/f/1438013689/banner-georesonance-world-map.jpg" alt="Banner Image" width="100%" height="300"></center></div>
    <br />
    <div><hr /></div>
    
    <div>Welcome! This is the homepage <br /> Click 'About' to reach the about page.</div>
    <br />
    
    <div style="text-align: bottom;"><%= link_to 'About', about_path %></div>

</body>
</html>

